* {
    box-sizing: border-box;
    margin: 0;
  }
 .topnav {
    overflow: hidden;
    background-color: #1A1A1A;
    width: 1440px;
    height: 135px;
 }
 .logo {
    position: absolute;
    width: 211px;
    height: 96.06px;
    top: 19.94px; 
    left: 21px; 
    }
#purple { 
        color: #774ABA;
        position: absolute;
        width: 1100.16px;
        height: 37.89px;
        font-family: Public Sans;
        font-size: 35px;
        line-height: 200px;
        text-align: right;
        letter-spacing:0;
     }
.icon{
        position: absolute;
        left: 63%;
        right: 39.3%;
        top: 12.96%;
        bottom: 16.13%;
    }
    .sidenav { 
      overflow:hidden;
      opacity:1;
      width:304px;
      height:450px;
      top: 135px;
      position:absolute;
	   font-family:Roboto;
   	text-align:left;
	   letter-spacing:0;
	   line-height:undefined;
 }
 .sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 24px;
  color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
  display: block;
}
#box { 
	background-color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:230px;
	height:889px;
	position:absolute;
	left:0px;
	top:0px;
}
