*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}
/* Top*/
.topnav {
    overflow: hidden;
    background-color: #1A1A1A;
    width: 1529px;
    height: 135px;
}
.logo {
    position: absolute;
    width: 211px;
    height: 96.06px;
    top: 19.94px; 
    left: 21px; 
}
nav{
    flex: 1;
    text-align: right;
    position: absolute;
    right: 0px;
    top: 28px;

}
nav ul{
    display: inline-block;
    list-style-type: none;
    color: #774ABA;



}
nav ul li{
    display: inline-block;


    font-family: Public Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 42px;
    padding-right: 30px;


}


.icon{
    display: inline-block;
    height: 47.5px;
    width: 50.52px;
    padding-right: 5px;
    padding-top: 15px;
}
a{
    text-decoration: none;
    color: #774ABA;
}
/*****************************Products Page*************************/
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-1{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-1 img{
    width: 100%;
    padding: 50px 0;
}

h4{
    font-family: Roboto;
font-style: italic;
font-weight: 500;
font-size: 30px;
line-height: 45px;
}
select{
    border: 2px solid #A29C9C;
    padding: 5px;
}
.col-1 p{
    font-size: 14px;S
}

.rating .fa{
    color: #774ABA;
}

.col-1:hover{
    transform: translateY(-5px);
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 2px solid  #1655B1;
    border-radius: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #1655B1;
    color: #FFFFFF;
}

/*-----------------------Footer--------------------------------*/

.footer{
    background: #1655B1;
    padding: 10px;
    
}

.footer p{
    font-size: 20px;
    color: #FFFFFF;

}